 {% extends 'base.html' %}
{% load wagtailcore_tags %}
{% block body_outer %}
<style>
        /* .contact-form {
            list-style-type: none;
            padding-left: 0;
        }
        .contact-form li {
            margin-bottom: 1.5rem;
        }
        .contact-form label {
            display: block;
            font-weight: bold;
        }
        .contact-form .helptext {
            display: block;
            font-size: 80%;
        } */
    </style>
<form action={% pageurl page %} method="POST">
    {% csrf_token %}
    {{ form.as_ul }}
    <input type="submit"/>
</form>

{% endblock %}